<footer id="colophon" role="contentinfo">
    <div class="site-info" style="text-align: center">
        Copyright&copy;&nbsp;2019&nbsp;
        <a href="{{ SITE_BASE_URL }}" target="blank">{{ SITE_NAME }}</a>
        &nbsp;|&nbsp;

        <a href="{{ SITE_BASE_URL }}sitemap.xml" title="SiteMap" target="_blank">
            SiteMap
        </a>
        |&nbsp; Hosting On&nbsp;
        <a href="https://bandwagonhost.com/aff.php?aff=46383" target="blank" rel="nofollow">bandwagonhost</a>
        |&nbsp;
        <a href="https://analytics.google.com/analytics/web/#/report-home/a137020405w197448018p192267338" target="_blank"
           rel="nofollow">Google Analytics</a>
        {% comment %}{% include 'share_layout/analyticscode.html' %}{% endcomment %}

    </div>
    <div class="site-info" style="text-align: center">
        Powered by
        <a href="https://www.djangoproject.com/" rel="nofollow" target="blank">Django</a>
        &nbsp;|&nbsp;
        <a href="https://github.com/liangliangyy/DjangoBlog" rel="nofollow" target="blank">LiangLiangyy</a>
        |
        <a href="https://www.lylinux.net" target="blank">Lylinux</a>
        |
        本页面加载耗时:<!!LOAD_TIMES!!>s
    </div>
    {% if BEIAN_CODE %}
        <div class="site-info" style="text-align: center">
            <a href="http://www.miitbeian.gov.cn/" rel="nofollow" target="_blank">
                <p style=" height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
                    {{ BEIAN_CODE }}
                </p>
            </a>
            {% if BEIAN_CODE_GONGAN and SHOW_GONGAN_CODE %}
                {{ BEIAN_CODE_GONGAN |safe }}
            {% endif %}
        </div>
    {% endif %}
    {% if ANALYTICS_CODE %}
        {{ ANALYTICS_CODE| safe }}
    {% endif %}
</footer><!-- #colophon -->


